#graph .card-contain {
    height: 95vh !important;
    border-radius: 10px !important; 
}

#graph .nav-tabs {
    border-color: rgba(0, 0, 0, 0);
}

#graph .nav-link {
    color: #000;
}

#graph .nav-link:hover {
    border-color: rgba(0, 0, 0, 0);
    background-color: #F0F3F8;
    color: #546E7A;
}

#graph .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active  {
    border-color: rgba(0, 0, 0, 0) !important;
    border-radius: 35px 10px, 0, 0 !important;
    background-color: #F0F3F8 !important;
    color: #546E7A !important;
}

