
#left-sidebar .sidebar {
    width: 60px;
    position: fixed;
    height: 100vh;
    background: #FFFFFF;
    z-index: 10;
}

#left-sidebar .text-muted {
    color: #01579B !important
}

#left-sidebar ul {
    height: 75%;
    overflow: auto;
    margin-top: -8px;
    padding-bottom: 20px
}

#left-sidebar a.active,
#left-sidebar a:hover {
    background: #E1F5FE;
}

#left-sidebar .sidebar ul li a {
    margin: 4px;
    border-radius: 10px;
    padding: 16px 0px 12px 15px;;
    display: block;
}

#left-sidebar .sidebar ul li a .material-icons {
    color: #898f94 !important;
    font-size: 20px;
}

#left-sidebar .sidebar ul li a:hover i.material-icons,
#left-sidebar .sidebar ul li a.active i.material-icons {
    color: #01579B !important;
}
