
#left-sidebar .sidebar {
    width: 60px;
    position: fixed;
    height: 100vh;
    background: #FFFFFF;
    z-index: 10;
}

#left-sidebar .text-muted {
    color: #adb5bd !important
}

#left-sidebar ul {
    height: 75%;
    overflow: auto;
    margin-top: -8px;
    padding-bottom: 20px
}

#left-sidebar a.active {
    background: #F0F3F8;
    background-image: linear-gradient(to right, #d2d4d6 , #F0F3F8);
}

#left-sidebar a:hover {
    background: #F0F3F8;
    background-image: linear-gradient(to right, #d2d4d6 , #F0F3F8);
}


#left-sidebar .sidebar ul li a {
    padding: 15px;
    display: block;
    border-radius: 8px 0 0 8px;
}

#left-sidebar .sidebar ul li a .fa {
    width: 30px;
    color: #898f94 !important
}

#left-sidebar .sidebar ul li a:hover i.fa,
#left-sidebar .sidebar ul li a.active i.fa {
    color: #546E7A !important;
}
