
#list li {
    border-radius: 2px !important;
    margin: 3px 0 !important;
    background: #F0F3F8;
    border: none;
}

#list li:hover {
    cursor: pointer !important;
    background: #e9edf3;
}

#list li:hover .btn-edit {
    opacity: 1;
}

#list .btn-edit {
    margin-top: -10px !important;
    margin-right: -17px !important;
    padding: 4px 8px !important;
    opacity: 0;
}

#list .btn-edit:hover {
    background:#F0F3F8;
    opacity: 1;
}