
#home .card-contain {
    height: 92vh !important;
    border-radius: 5px !important;
}

#home .card-contain .btn-more {
    margin-top: -10px !important;
    margin-right: -10px !important;
}

#home .card-contain .btn-more:hover {
    background:#F0F3F8;
}

#home .column {
    width: 272px !important;
    min-width: 272px !important;
    margin: 0px 7px !important;
}

#home .card-contain-add {
    height: 65px !important;
}

#home .card-contain-add .btn {
    margin-top: -10px !important;
}
