#login-page .page-wrap {
    min-height: 100vh;
}

#login-page .form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

#login-page .btn-login {
    background: #01579B !important;
}
